.bandera{
  width: 300px;
  height: 200px;
}
.overlay{
  top: 0;
  bottom: 0;
  left: 0;
  right: 100%;
  position: absolute;
  border-radius: 5px;
  opacity: .9;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-weight: 700;
  transition: .4s;
  color: white;
}

.overlay>p{
  font-size: 0;
  transition-property: font-size;
  transition-duration: .3s;
}

.columnoverlay:hover .overlay {
  right: 0;
}

.columnoverlay:hover .overlay>p {
  font-size:20px;
  transition-delay: .3s ;
}

.header{
  height:70px;
}


